
:root{
  --textLite:#989898;
  --textDark:#111111;
  --bgLite: #F0F0F0;
  --White: #fff;
  --bgLiteDark: #334155;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* color:var(--textDark) */
}
.text-lite{
  color: #989898;
}
.bg-lite{
  background-color: var(--bgLite);
}
.white-bg{
  background-color: var(--White)!important;
}
.bg-mydark{
  background-color: var(--bgLiteDark);
}




.logo img{
  margin-left:1.3rem;
}
.menu-item{
  margin-top:0!important;
}
.dark .menu-item:hover{
  background-color: rgb(46, 46, 46);
}
.menu-item:hover a svg path{
  fill:#111;
}
.dark .menu-item:hover a svg path{
  fill:white;
}
.mode-item-wrapper{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  left:-135px;
  top:57px;
  padding:5px;
  border-radius: 9px;
}

.nav-item-ul li:first-child{
  background-color: var(--bgLite)!important;
  font-size: 14px;
  color: var(--textDark)!important;
}
.nav-item-ul li:hover{
  background-color: var(--bgLite);
}
.nav-item-ul li a:hover{
  color:#000;
}
.dark .nav-item-ul li a:hover{
  color:#fff;
}
.dark .nav-item-ul li:hover{
  background-color: rgb(46, 46, 46)!important;
}
.dark .nav-item-ul li:first-child{
  background-color: rgb(46, 46, 46)!important;
  font-size: 14px;
}
.dark .nav-item-ul li:first-child a{
  color: var(--White)!important;
}
.nav-item-ul li{
  color: var(--textLite)!important;
}
.search-button button{
  width:380px;
  height: 48px!important;
}
.button-border{
  border:1px solid var(--bgLite)
}
.button-border:hover{
  background-color: var(--bgLite);
  transition: .3s;
  
}
.dark .button-border{
  border: 1px solid #d1d0d0;
  color:#fff;
}
.hero-title .title-width{
  width:38rem;
}
.hero-title h1{
  font-size: 40px;
  line-height: 48px;
}

.filter-button{
  border-right:2px solid #ddd;
  padding-right:1rem;
  margin-right:1rem;
}
.screens-menu-item span{
  border:1px solid var(--bgLite)
}
.screens-menu-item span:first-child{
  background-color: var(--textDark);
  color:#fff;
}
.screens-menu-item span:first-child:hover{
  background-color: var(--textDark);
  color:#fff;
}
.screens-menu-item span:hover{
  background-color: var(--bgLite);
  transition: .2s;
  cursor: pointer;
}

.shaddow-img{
  border-radius: 0 0px 16px 16px;
  display: none;
}
.scrn-button {
  bottom: 24px;
  display: flex;
  width:12rem;
  left:calc(50% - 6rem)
}
.scrnImg:hover .scrn-button{
  display: flex!important;
  transition: .3s!important;
}
.scrnImg:hover .shaddow-img{
  display: block;
  transition: .3s!important;
}

.scrn-button-copy-img{
  left:15px;
  bottom:23px;
}
.scrn-button-copy-button{
  width:125px;
  left:85px;
  bottom:24px;
}
.copywright{
  margin-top:1.5rem;
  padding:1rem 0;
  padding-bottom:0;
  border-top:1px solid var(--bgLite)
}



.screens-menu-item::-webkit-scrollbar, .sideNav-scroll::-webkit-scrollbar {
  height: 2px;
}
.sideNav-scroll::-webkit-scrollbar {
  width:2px;
}
.screens-menu-item::-webkit-scrollbar-track, .sideNav-scroll::-webkit-scrollbar-track {
  background: #d3ddf8;
}
.screens-menu-item::-webkit-scrollbar-thumb,  .sideNav-scroll::-webkit-scrollbar-thumb {
  background: #4566fd; 
}

.screens-menu-item::-webkit-scrollbar-thumb:hover, .sideNav-scroll::-webkit-scrollbar-thumb:hover {
  background: #012058; 
}

.text-underline:hover{
  text-decoration: underline;
}
.the-pop-up{
  background-color: #6e6d6d69;
  backdrop-filter: blur(2px);
}
.the-pop-up .popup{
  width:520px;
  padding-top:13px;
}

.the-pop-up .priceing{
  width:40rem!important;
}
.the-pop-up .search-popup{
  width:90%!important;
  height: calc(100vh - 2rem);
  overflow-y: scroll;
}
.the-pop-up .search-popup .screens-menu{
  display: none;
}
.priceing-month {
  border:1px solid var(--bgLite)
}
.active-item{
  background-color: black!important;
  color:var(--White)!important;
}
.screens-menu .slider-nav span{
  font-size: 14px;
}
.slider-nav span:first-child{
  background-color: #000;
  color:#fff;
}
.dark .slider-nav span:first-child{
  background-color: #fff;
  color:#000;
}
.dark .screens-menu .slider-nav span:first-child{
  background-color: #fff;
  color:#000;
}
.copy-btn-h{
  height: 36px;
  display: flex;
  align-items: center;
}
.search-nav-item span {
  border: 1px solid var(--bgLite);
  background-color: var(--White);
}
.search-nav-item span:hover{
  background-color: var(--bgLite);
}

.template-page .template-title, .article-page .template-title{
  display: none;
}
.temp-det-wrapper .template-title, .temp-det-wrapper .screens-menu {
  display:none;
}
.sponser{
  border:1px solid var(--bgLite)
}
.sponser span{
  border-left:1px solid var(--bgLite);
  border-bottom:1px solid var(--bgLite);
  padding:1px 4px;
  border-radius: 8px;
}
.get-source{
  border-left: 1px solid var(--bgLite);
  margin-left:2rem;
}
.get-source button{
  background-color: var(--bgLite);
}
.syntext pre{
  border-radius: 1rem;
}
.active-state .active-item{
  background-color: var(--White)!important;
  color:black!important;
}
.template-modal .popup{
  width:30rem;
  overflow-y: scroll;
  height: 100vh;
}
.button-h{
  height:49px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-h{
  height: 48px;
}



