:root{
    --textLite:#989898;
    --textDark:#111111;
    --bgLite: #F0F0F0;
    --White: #fff;
    --bgLiteDark: #334155;
  }

@media screen and (max-width:1024px) {
  *{
    max-width:100%;
  }
    .res-menu .sideNav{
      display: block;
    }
    .nav-item-ul li:first-child{
        font-size: 14px;
        color: #000;
      }
      .template-modal .res-menu{
        width:15rem;
      }
      .logo img{
        margin-left:0;
      }
      .res-menu .res-button{
        display: block;
      }
      .search-box{
        position: absolute;
        width:calc(100vw - 3rem)!important;
        top:5rem;
        margin-left:1rem;
        left:5px;
      }
      .template-title{
        padding-top:3rem;
      }
      .temp-det-intro{
        padding-top:1.5rem;
      }
      
      .scrn-button-copy-img{
        font-size: 14px;
        width:2.5rem;
        padding:1px 2px!important;
        left:32px;
      }
      .scrn-button-copy-button{
        width:5rem;
        font-size: 14px;
        padding:1px 2px!important;
        left:80px;
      }
      .after-login{
        width:180px;
      }
}

@media screen and (max-width:776px){
  
    .hero-title .title-width{
        width:100%;
        padding-left:3rem;
        padding-right:3rem;
    }
    .hero-title h1{
        font-size: 32px;
        line-height: 35px;
    }
    .scrnImg:hover .scrn-button-copy-img, .scrnImg:hover .scrn-button-copy-button{
        display: none!important;
      }
      .search-popup .template-title{
        padding-top:0rem;
      }
      .get-source{
        margin-left:0;
        margin-top:10px;
        border-left:none;
      }
      .language-javascript{
        font-size: 12px!important;
      }
} 
@media screen and (max-width:500px){
  .allwrapper{
    padding:10px;
  }
    .hero-title .title-width{
        width:100%;
        padding-left:1rem;
        padding-right:1rem;
    }
    .hero-title h1{
        font-size: 28px;
        line-height: 32px;
    }
    .hero-title p{
        font-size: 13px;
    }
    .the-pop-up .popup{
      width:90%;
      height:auto;
    }
    .modal-h .popup{
      height: calc(100vh - 1rem);
    }
    .the-pop-up .popup.priceing, .the-pop-up .search-popup{
      max-height: calc(100vh - 2rem);
      width:90%!important;
    }
    .search-box{
      width:calc(100vw - 2rem)!important;
      left:-2px;
    }
    .the-pop-up .popup h2{
      font-size: 20px;
    }
    .sm-font{
      font-size: 14px!important;
    }
    .header-wrapper h2{
      font-size: 20px;
    }
    .header-wrapper a p{
      font-size: 12px;
    }
    .sm-width{
      width:100%;
    }
    .sm-width button{
      width:49%;
    }
    .temp-det-intro{
      padding-top:0;
    }
} 